{%  load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metropolitan Security</title>
<link rel="icon" type="image/png" href="{% static 'images/icons/logo.ico' %}">
<link type="text/css" href="{% static 'bootstrap2/css/bootstrap.min.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'css2/theme.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'images2/icons/css/font-awesome.css'%}" rel="stylesheet">
<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
    rel='stylesheet'>
    <link type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    
 

<script src="{% static 'bootstrap2/js/bootstrap.min.js'%}" type="text/javascript"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>

<link href="{% static 'libinv/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

<link href="{% static 'libinv/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style type="text/css">
    html {
        overflow-y: hidden;
    }
    </style>

</head>

<body>
    
    <section id="container" ></section>
   
        <header class="header black-bg" height="2">
         
          
       
        
          <a href="{% url 'HR:main' %}"  class="logo" style="text-align:center-100px"><b>Attendance</b></a>
          
          
          
          <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout"  style="margin-top: 10px;"  href="{% url 'logout' %}  ">Logout</a></li>
            </ul>

            <ul class="nav pull-right top-menu">
              <p class="logout1" style="color:white; margin-top: 12px; font-size:16px;">{{request.user.username|capfirst }}  </p>
            </ul>
          </div>
        </header>

        <div class = "wrapper" style= "background: url({% static 'images2/bg.png'%}); " />

<!------------------------------------------------------DONEEEEEEEEEEE------------------------------------------->

        <!-- /navbar -->
        <div class="wrapper">
            
            <div class="container">


                    <div class="span9">
                        <div class="content">
                            <div class="btn-controls">
<br><br>
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="btn-box-row row-fluid">
                                {%for user in user_info %}
                                <form id="form1" action="." method="post">
                                {% csrf_token %} 


                                
                                    
                                <a href="javascript:;" onclick="parentNode.submit();" class="btn-box big span4" id="employeeLink">  <br><i class="icon-user"></i>
                                    <p class="text-muted">
                                        
                                          <br>{{user}}</p>
                                          <input type="hidden" name="user" value={{user}}>
                                        </a>
                                    
                                


                                    
                                </form>
                                {% endfor %}
                                </div>

                                    </div>
                                    <div style="width:500px;height:100px;"></div>
                                    <div style="width:500px;height:100px;"></div>
                                    <div style="width:500px;height:100px;"></div>



</div>
                        </div>
</div>
        </div>


    </body>

        