{%  load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HR</title>
<link rel="icon" type="image/png" href="{% static 'images/icons/logo.ico' %}">
<link type="text/css" href="{% static 'bootstrap2/css/bootstrap.min.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'x.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'images2/icons/css/font-awesome.css'%}" rel="stylesheet">
<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
    rel='stylesheet'>
    <link type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<script src="{% static 'bootstrap2/js/bootstrap.min.js'%}" type="text/javascript"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>

<link href="{% static 'libinv/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

<link href="{% static 'libinv/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>
    
    <section id="container" ></section>
   
        <header class="header black-bg" height="2">

          <ul class="nav pull-left top-menu">
            <li><a class="logout"  style="background-color:#2C3E50;  margin-top: 0px;  padding: 12.5px 20px; border: none #2C3E50 !important;" href="{% url 'invoice:inv_opt' %}"><i class="far fa-money-bill-alt fa-2x"></i></a></li>
            <li><a class="logout"  style="background-color:#2C3E50;margin-top: 0px;padding: 12.5px 20px; outline: none; border: solid #2C3E50 !important;" href="{% url 'main' %}    "><i class="fas fa-home fa-2x"></i>
    
            </a></li>
            <li><a class="logout" style="background-color:#2C3E50; margin-top: 0px; padding: 12.5px 10px; border: solid #2C3E50 !important;" href="{% url 'task:tasks' %}"> <i class="fas fa-tasks fa-2x"></i></a></li>
       
          
            
             
          </ul>
              
        
          <a href="" style="text-align:center" class="logo"><b>Human Resources</b></a>
          
          
          
          <div class="top-menu">
            <ul class="nav pull-right top-menu">
              <li><a class="logout" href="{% url 'logout' %}  ">Logout</a></li>
            </ul>

            <ul class="nav pull-right top-menu">
              <p class="logout1" style="color:white">{{request.user.username|capfirst }}  </p>
            </ul>
          </div>
        </header>

       
<!------------------------------------------------------DONEEEEEEEEEEE------------------------------------------->
<div class = "wrapper" style= "background: url({% static 'images2/bg.png'%}); " />


      
        <div class="wrapper">
            
            <div class="container">
               
                  
                    <div class="span9">
                        <div class="content">
                            <div class="btn-controls">
<br><br>
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="btn-box-row row-fluid">

                                    <a href="{% url 'HR:displayHR' %}" class="btn-box big span4">  <br> <i class="icon-briefcase"></i>
                                    <p class="text-muted">
                                          <br>  Attendances</p>
                                         
                                          
                                    </a>
                                    
                                    <a href="{% url 'HR:attendance_detail' %}" class="btn-box big span4"> <br><i class="icon-list-alt"></i>
                                        <p class="text-muted">
                                           <br> Employee Records</p>
                                    </a>
                                   
                                   
                                
                                        
                                    </div>
                                    
                                
                                       
                                         
                     
                              
                                    <div style="width:500px;height:100px; "></div>
                                    <div style="width:500px;height:100px;"></div>
                                    <div style="width:500px;height:100px; "></div>
                                    <div style="width:500px;height:100px;"></div>
           
           
        </div>
       
        
        
    </body>
   