<!DOCTYPE html>
{%  load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Attendance</title>

  <link rel="icon" type="image/png" href="{% static 'images/icons/logo.ico' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_table.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'lib/advanced-datatable/css/DT_bootstrap.css' %}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'libinv/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
  <link type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  
    <link type="text/css" href="{% static 'images2/icons/css/font-awesome.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


   
  

  

  
  

</head>

<body>
  <section id="container">
   
    <header class="header black-bg" height="2">
     
      <ul class="nav pull-left top-menu">
        <li><a class="logout"  style="background-color:#2C3E50;  margin-top: 0px;  padding: 12.5px 20px; border: none #2C3E50 !important;" href="{% url 'invoice:inv_opt' %}"><i class="far fa-money-bill-alt fa-2x"></i></a></li>
        <li><a class="logout"  style="background-color:#2C3E50;margin-top: 0px;padding: 12.5px 20px; outline: none; border: solid #2C3E50 !important;" href="{% url 'main' %}    "><i class="fas fa-home fa-2x"></i>

        </a></li>
        <li><a class="logout" style="background-color:#2C3E50; margin-top: 0px; padding: 12.5px 10px; border: solid #2C3E50 !important;" href="{% url 'task:tasks' %}"> <i class="fas fa-tasks fa-2x"></i><span class="badge" style="background-color:red;">3</span></a></li>
   
      
        
         
      </ul>
  
    <a href="index.html"  class="logo" style="text-align:center-100px"><b style="text-align: center">Attendance</b></a>
    
    
    
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
          <li><a class="logout"  style="margin-top: 10px;"  href="{% url 'logout' %}  ">Logout</a></li>
      </ul>

      <ul class="nav pull-right top-menu">
        <p class="logout1" style="color:white; margin-top: 12px; font-size:16px;">{{request.user.username|capfirst }}  </p>
      </ul>
    </div>
  </header>
    <!--header end-->
<!------------------------------------------------------------PAGE STARTS------------------------------------------------------------>
    <!--main content start-->
  
   
        
        <div class="row mb"></div>
          <!-- page start-->    <br><br>
          <div class="content-panel">  
            <div class="adv-table">   
              <table id="example" class="display" style="width:100%">
                <thead>
                  <tr>
                    <th>UserName</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Abscences</th>
                    <th>Total Lateness</th>


                  </tr>
                </thead>
                <tbody>
                  <form method="POST" action="."> 
                {% csrf_token %} 
                    <tr class="gradeA">
                      <td>{{user_info}}</td>
                      <td>{{user_info.first_name}}</td>
                      <td>{{user_info.last_name}}</td>
                      <td>{{abscence}}</td>
                      <td>{{late}}</td>

                    </tr>
                 </form>
                </tbody>
              </table>
			  
            </div>
          </div>
          <!-- page end-->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
   
  </section>
  
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <!--script for this page-->
  <script type = "text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</body>

</html>