<!DOCTYPE html>
{%  load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static '\css\css_invoice\generatertrial.css' %}" media="all" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" />

<div id="invoice">
    
    <div class="toolbar hidden-print">
        <div class="text-right">
            <button style = "  background-color: #34396D; border: none;" id="printInvoice" class="btn btn-info" onclick="window.print()"><i class="fa fa-print"></i>&nbsp; Print</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://metropolitansecurity.com.lb/new/">
                            <img width="250" height="250" src="{% static '\images\logo_in.png' %}" data-holder-rendered="true" />
                            </a>
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                          
                            <a style ="font-size: 40px;color: #34396D; " target="_blank" href="https://metropolitansecurity.com.lb/new/">
                              Metropolitan Security
                            </a>
                        </h2>
                        <div style ="font-size: 22px;">3rd floor - Sinno Building, Cornich Al Mazraa Main St.</div>
                        <div style ="font-size: 20px;"> Beirut - Lebanon</div>
                        <div style ="font-size: 20px;">961 (1) 702 000 Tel / Fax: 961 1 819 777</div>
                        <div style ="font-size: 20px;">info@metropolitansecurity.com.lb</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div style ="font-size: 18px;"class="text-gray-light">INVOICE FROM {{ name }} TO:</div>
                        <h2 class="to"> {{ company }} </h2>
                        <div style ="font-size: 18px;"class="address">{{ street }}, {{ city }}, {{ country}}</div>
                        <div style ="font-size: 18px;"class="email">{{ company_tel }}, {{ company_email }}</div>
                    </div>
                        <div class="col invoice-details">
                            <h1 class="invoice-id">INVOICE NUMBER: {{ invoicenum }}</h1>
                            <div  style ="font-size: 20px;" class="date">Date of Invoice: {{ date }}</div>
                          
                        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th  style ="font-size: 18px;">Item No</th>
                                <th  style ="font-size: 18px;"class="text-left">DESCRIPTION</th>
                                <th style ="font-size: 18px;" class="text-right">Item Code</th>
                                <th style ="font-size: 18px;" class="text-right">UNIT PRICE</th>
                                <th  style ="font-size: 18px;"class="text-right">QUANTITY</th>
                                <th  style ="font-size: 18px;"class="text-right">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for l in list %}  
                        
                        <tr>
                            <td class="no">{{ l.0 }}</td>
                            <td class="text-left"><h3  style ="font-size: 25px;">{{ l.2 }} <h3>{{l.6}}</h3></td>
                            <td style ="font-size: 20px;"class="unit">{{ l.1 }}</td>
                            <td style ="font-size: 20px;"class="unit">${{ l.3 }}</td>
                            <td style ="font-size: 20px;"class="qty">{{ l.4 }}</td>
                            <td style ="font-size: 20px;"class="total">${{ l.5 }}</td>
                        </tr> 
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td  style ="font-size: 23.5px;"colspan="2">SUBTOTAL</td>
                                <td style ="font-size: 23.5px;position:relative; left:5%;">${{ total }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td  style ="font-size: 23.5px;"colspan="2">TAX FROM PREVIOUS</td>
                                <td style ="font-size: 23.5px;position:relative; left:5%;">${{ tax }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td  style ="font-size: 23.5px;"colspan="2">TOTAL</td>
                                <td style ="font-size: 23.5px;position:relative; left:5%;">${{ t }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="thanks">Pleasure Serving You!</div>
                    <div class="notices">
                        <div>NOTICE:</div>
                        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                    </div>
                </main>
                <footer>
                    Metropolitan Security &copy;
                </footer>
            </div>
          
            <div></div>
        </div>
    </div>
</html>