<!DOCTYPE html>
{%  load static %}
<html lang="en">

<head>
 <link href="{% static 'taskassigncss/style.css'%}" rel="stylesheet">
   <body style="background-color: #2C3E50 ;"></body>
   <main>
    <div style="background-color: white ;" id="left">
      <div id="form-wrapper">
       
        
        <form method="POST" action=".">     

          <input class="submit-button" type="submit" value="Assign"></input>
          <h1>Add Task</h1>
          <h3>Task Description</h3>
          <textarea name="description"rows="2" cols="2" placeholder="Write a new task here." required></textarea>
          <div id="form-col-wrapper">
            <div id="form-left">
               
              <h3>Due Date:</h3>
            
<input type="date"  name="end_date" />
<br>
            </div>
            <div id="form-right">
                {% csrf_token %}   
              <h3>Assign To:</h3>
              <select name = "dropdown">
                   


{%for user in users%}
  <option value = {{user.user}}> {{user.user}}</option>
{% endfor %}
                  
                </select>
            </div>
    <div class="form-footer"></div>
          </div>
         
        </form>
      </div>
    </div>
   
  </main>
 
</body>

</html>
