﻿{%  load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Tasks</title>
<link rel="icon" type="image/png" href="{% static 'images/icons/logo.ico' %}">
<link type="text/css" href="{% static 'bootstrap2/css/bootstrap.min.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'x.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'images2/icons/css/font-awesome.css'%}" rel="stylesheet">
<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
    rel='stylesheet'>
    <link type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
 

<script src="{% static 'bootstrap2/js/bootstrap.min.js'%}" type="text/javascript"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>

<link href="{% static 'libinv/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

<link href="{% static 'libinv/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


</head>

<body>
    
    <section id="container" ></section>
   
    <header class="header black-bg" height="2">
     
    
      <ul class="nav pull-left top-menu">
        <li><a class="logout"  style="background-color:#2C3E50;  margin-top: 0px;  padding: 12.5px 20px; border: none #2C3E50 !important;" href="{% url 'HR:displayHR' %}"><i class="fas fa-user fa-2x"></i></a></li>
        <li><a class="logout"  style="background-color:#2C3E50;margin-top: 0px;padding: 12.5px 20px; outline: none; border: solid #2C3E50 !important;" href="{% url 'main' %}   "><i class="fas fa-home fa-2x"></i>
  
        </a></li>
        <li><a class="logout" style="background-color:#2C3E50; margin-top: 0px; padding: 12.5px 10px; border: solid #2C3E50 !important;" href="{% url 'invoice:inv_opt' %}"> <i class="far fa-money-bill-alt fa-2x"></i></a></li>
   
        
         
      </ul>
  
    <a href="index.html"  class="logo" style="text-align:center-100px"><b>TASKS</b></a>
    
    
    
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
          <li><a class="logout"  style="margin-top: 10px;"  href="{% url 'logout' %}  ">Logout</a></li>
      </ul>

      <ul class="nav pull-right top-menu">
        <p class="logout1" style="color:white; margin-top: 12px; font-size:16px;">{{request.user.username|capfirst }}  </p>
      </ul>
    </div>
  </header>

       
<!------------------------------------------------------DONEEEEEEEEEEE------------------------------------------->
<div class = "wrapper" style= "background: url({% static 'images2/bg.png'%}); " />


      
        <div class="wrapper">
            
            <div class="container">
               
                  
                    <div class="span9">
                        <div class="content">
                            <div class="btn-controls">
<br><br>
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="btn-box-row row-fluid">

                                    <a href="{% url 'task:display' %}" class="btn-box big span4">  <br><i class="fas fa-portrait"></i>
                                    <p class="text-muted">
                                          <br>  My Tasks</p>
                                          
                                    </a>
                                    
                                    <a href="{% url 'task:assign' %}" class="btn-box big span4"> <br><i class="icon-list"></i>
                                        <p class="text-muted">
                                           <br> Assign Task</p>
                                    </a>
                                   
                                   
                                
                                        
                                    </div>
                                    
                                
                                       
                                         
                                    <div style="width:500px;height:100px; "></div>
                                    <div style="width:500px;height:100px;"></div>

                              
                                    <div style="width:500px;height:100px; "></div>
                                    <div style="width:500px;height:100px;"></div>
           
        </div>
       
        
        
    </body>
   