


@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

body {
    color: black;
    font-weight: bold;
    font-size: large;
	background: #2C3E50;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}
    


.bg-theme {
	background-color: #2C3E50;
}


h2 {
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-left : 18px;
  }

.label-theme {
	background-color: #2C3E50;
}

.bg-theme {
	background-color: #2C3E50;
}

/*LOGOT BUTTON */
ul.top-menu > li > .logout {
	color: #f2f2f2;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #a5a5a5 !important;
	padding: 5px 15px;
	margin-right: 15px;
	background: #4ECDC4;
	margin-top: 15px;
}


ul.sidebar-menu li ul.sub li{
    background: #2f323a;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}
ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

.header  {
    min-height: 60px;
    padding: 0 15px;
}

.


#main-content {
    
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}
/*the navbar awal wahde w el boarder tahet tene wahde */
.black-bg {
    background: #2C3E50;
    border-bottom: 1px solid #2C3E50;
}
/*EL KALEM BEL NAVBAR FO2 = INVOICE */
.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}
/*EL KALEM BEL NAVBAR FO2 = INVOICE */
a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}





