<!DOCTYPE html>
{%  load static %}

<html lang="en">

<head>
	<title>Metropolitan Security</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--===========================================ICON====================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/logo.ico' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'vendor/bootstrap/css/bootstrap.min.css'%}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js'%}"></script>
<!--===============================================================================================-->
</head>
<body style="background-color: #517195;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="{% url 'authenticate:user_login' %}" method="POST" class="login100-form validate-form">
					{% csrf_token %}

					{{ user_form.as_p}}
					{{ profile_form.as_p }}
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>


					
			
					<script type = "text/javascript">
						$(document).ready(function () {
						
						
						
						
						
							$('.input100').each(function(){
								$(this).on('blur', function(){
									if($(this).val().trim() != "") {
										$(this).addClass('has-val');
									}
									else {
										$(this).removeClass('has-val');
									}
								})
							})
						
						
							/*==================================================================
							[ Validate ]*/
							var input = $('.validate-input .input100');
						
							$('.validate-form').on('submit',function(){
								var check = true;
						
								for(var i=0; i<input.length; i++) {
									if(validate(input[i]) == false){
										showValidate(input[i]);
										check=false;
									}
								}
						
								return check;
							});
						
						
							$('.validate-form .input100').each(function(){
								$(this).focus(function(){
								   hideValidate(this);
								});
							});
						
							function validate (input) {
								if($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
									if($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
										return false;
									}
								}
								else {
									if($(input).val().trim() == ''){
										return false;
									}
								}
							}
						
							function showValidate(input) {
								var thisAlert = $(input).parent();
						
								$(thisAlert).addClass('alert-validate');
							}
						
							function hideValidate(input) {
								var thisAlert = $(input).parent();
						
								$(thisAlert).removeClass('alert-validate');
							}
						
						});
						
						
						
						  </script>
						
					<div class="container-login100-form-btn">
						<button type="submit" class="btn btn-secondary btn-lg btn-block"> Login </button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						
					</div>

					
				</form>

				<div class="login100-more" style="background:url(http://www.notaclinic.com/wp-content/uploads/2017/07/METROPOLITAN-2.jpg)";></div>
				</div>
			</div>
		</div>
	</div>
	
	



</body>
</html>
