<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
    {% block body_block %}
        <div class="jumbotron">
            <h1>Please Login</h1>
            <form action="{% url 'authenticate:user_login' %}" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                {{ user_form.as_p}}
                {{ profile_form.as_p }}
                <input type="text" name="username" placeholder="Enter Username">

                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter Username">

                <input type="submit" name="" value="Login">
            </form>
        </div>
    {% endblock %}